{
        "insecure-registries": ["0.0.0.0/0"],
        "registry-mirrors": ["https://registry.docker-cn.com"],
        "exec-opts": ["native.cgroupdriver=systemd"],
        "storage-driver": "devicemapper"
}
