{
        "insecure-registries": ["0.0.0.0/0"],
        "registry-mirrors": ["https://0yjmvwvv.mirror.aliyuncs.com"],
        "exec-opts": ["native.cgroupdriver=systemd"],
        "storage-driver": "devicemapper"
}
